<template>
    <div class="home-view">
        <h1 class="Text Text--red">Home View</h1>
    </div>
</template>

<script>
    export default {
        name: 'HomeView'
    }
</script>

<style lang="less" scoped>
    @import '../less/Example';
</style>



